USE [project1]
GO
ALTER TABLE [dbo].[PhieuBanHang] DROP CONSTRAINT [FK_PhieuBanHang_ThongTinSanPham]
GO
ALTER TABLE [dbo].[PhieuBanHang] DROP CONSTRAINT [FK_PhieuBanHang_MaGiamGia]
GO
/****** Object:  Table [dbo].[ThongTinSanPham]    Script Date: 12/10/2019 3:06:31 PM ******/
DROP TABLE [dbo].[ThongTinSanPham]
GO
/****** Object:  Table [dbo].[PhieuBanHang]    Script Date: 12/10/2019 3:06:31 PM ******/
DROP TABLE [dbo].[PhieuBanHang]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/10/2019 3:06:31 PM ******/
DROP TABLE [dbo].[NguoiDung]
GO
/****** Object:  Table [dbo].[MaGiamGia]    Script Date: 12/10/2019 3:06:31 PM ******/
DROP TABLE [dbo].[MaGiamGia]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/10/2019 3:06:31 PM ******/
DROP TABLE [dbo].[Admin]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/10/2019 3:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[TenDangNhapAd] [nvarchar](50) NOT NULL,
	[MatKhauAd] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[TenDangNhapAd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MaGiamGia]    Script Date: 12/10/2019 3:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGia](
	[MaGiamGia] [nvarchar](250) NOT NULL,
	[GiamGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_MaGiamGia] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/10/2019 3:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuBanHang]    Script Date: 12/10/2019 3:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBanHang](
	[IdPhieuBanHang] [nvarchar](50) NOT NULL,
	[NgayBan] [nvarchar](50) NULL,
	[TenKhachHang] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[Sdt] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[IdMatHang] [nvarchar](50) NOT NULL,
	[TenMatHang] [nvarchar](250) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[DonVi] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[MaGiamGia] [nvarchar](250) NULL,
	[TongTien] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuBanHang] PRIMARY KEY CLUSTERED 
(
	[IdPhieuBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinSanPham]    Script Date: 12/10/2019 3:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinSanPham](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[IdMatHang] [nvarchar](50) NOT NULL,
	[TenMatHang] [nvarchar](250) NULL,
	[DonVi] [nvarchar](50) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[HinhAnh] [image] NULL,
 CONSTRAINT [PK_ThongTinSanPham_1] PRIMARY KEY CLUSTERED 
(
	[IdMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Admin] ([TenDangNhapAd], [MatKhauAd]) VALUES (N'', NULL)
INSERT [dbo].[Admin] ([TenDangNhapAd], [MatKhauAd]) VALUES (N'admin', N'admin')
INSERT [dbo].[Admin] ([TenDangNhapAd], [MatKhauAd]) VALUES (N'thien', N'123456')
INSERT [dbo].[MaGiamGia] ([MaGiamGia], [GiamGia]) VALUES (N'Black Friday (-15%)', N'0.85')
INSERT [dbo].[MaGiamGia] ([MaGiamGia], [GiamGia]) VALUES (N'Hè vui nhộn (-10%)', N'0.90')
INSERT [dbo].[MaGiamGia] ([MaGiamGia], [GiamGia]) VALUES (N'Không mã giảm giá', N'1')
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([STT], [TenNhanVien], [TenDangNhap], [MatKhau]) VALUES (11, N'Tôn Ngộ Không', N'khicon', N'123')
INSERT [dbo].[NguoiDung] ([STT], [TenNhanVien], [TenDangNhap], [MatKhau]) VALUES (12, N'Trư Bát Giới', N'heomap', N'234')
INSERT [dbo].[NguoiDung] ([STT], [TenNhanVien], [TenDangNhap], [MatKhau]) VALUES (13, N'Sa Tăng', N'ngonang', N'345')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
INSERT [dbo].[PhieuBanHang] ([IdPhieuBanHang], [NgayBan], [TenKhachHang], [DiaChi], [Sdt], [Email], [IdMatHang], [TenMatHang], [DonGia], [DonVi], [SoLuong], [MaGiamGia], [TongTien]) VALUES (N'100', N'12/10/2019 1:04:46 AM', N'Monkey D. Luffy', N'Biển Đông', N'0333444555', N'luffy@gmail.com', N'HA30P', N'Huawei Mate 30 Pro', CAST(22990000.00 AS Decimal(18, 2)), N'Cái', 1, N'Mừng đảng mừng xuân (-20%) ', N'18392000.000')
INSERT [dbo].[PhieuBanHang] ([IdPhieuBanHang], [NgayBan], [TenKhachHang], [DiaChi], [Sdt], [Email], [IdMatHang], [TenMatHang], [DonGia], [DonVi], [SoLuong], [MaGiamGia], [TongTien]) VALUES (N'102', N'12/10/2019 1:06:30 AM', N'Shanks', N'Biển Tây', N'0111222333', N'tocdo@gmail.com', N'NO7.1', N'Nokia 7.1', CAST(5990000.00 AS Decimal(18, 2)), N'Cái', 1, N'Black Friday (-15%)', N'5091500.0000')
INSERT [dbo].[PhieuBanHang] ([IdPhieuBanHang], [NgayBan], [TenKhachHang], [DiaChi], [Sdt], [Email], [IdMatHang], [TenMatHang], [DonGia], [DonVi], [SoLuong], [MaGiamGia], [TongTien]) VALUES (N'103', N'12/10/2019 1:10:24 AM', N'Uzumaki Yasuo', N'Ionia', N'090900907', N'dang@gmail.com', N'IP11PM', N'Iphone 11 Pro Max 256Gb', CAST(33990000.00 AS Decimal(18, 2)), N'Cái', 1, N'Không mã giảm giá', N'33990000.00')
SET IDENTITY_INSERT [dbo].[ThongTinSanPham] ON 

SET IDENTITY_INSERT [dbo].[ThongTinSanPham] OFF
ALTER TABLE [dbo].[PhieuBanHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuBanHang_MaGiamGia] FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[PhieuBanHang] CHECK CONSTRAINT [FK_PhieuBanHang_MaGiamGia]
GO
ALTER TABLE [dbo].[PhieuBanHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuBanHang_ThongTinSanPham] FOREIGN KEY([IdMatHang])
REFERENCES [dbo].[ThongTinSanPham] ([IdMatHang])
GO
ALTER TABLE [dbo].[PhieuBanHang] CHECK CONSTRAINT [FK_PhieuBanHang_ThongTinSanPham]
GO
